// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// LisonExperience variables

$le_green: #3eaa82;
$le_light_green: #43D1AF;
$le_cream: #E9E8D9;
$le_orange: #f45f53;
$le_gray: #333940;
$le_light_gray:#d2d2c8;
