// Import Google fonts
@import url(//db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa);
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
// Define fonts for body and headers
$body-font:'Montserrat', "sans-serif";
$headers-font: "europa", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family:'Aquatico-Regular';
  src:font-url('Aquatico-Regular.otf');
}
$my-font: "Aquatico";

@font-face {
  font-family:'PeaceSans';
  src:font-url('PeaceSans.otf');
}

// $my-font: "PeaceSans";
