body, html { /*body and html have to be 100% to push header down */
    height:100%;
    width: 100%;
}
body  { /* all content must be wrapped... #wrapper is my id.  Position relative IMPORTANT */
    position: relative;
    height: auto;
    min-height: 100%;
}

body{
  background: #f45f53;
  color: #5E5E58;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 300;
}

body h2 {
  font-family: europa, sans-serif;
  color: #f45f53;
  font-size: 3rem;
}

@import url(//db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa);
@import url(https://fonts.googleapis.com/css?family=Roboto);
