body, html { /*body and html have to be 100% to push header down */
    height:100%;
    width: 100%;
}
body  { /* all content must be wrapped... #wrapper is my id.  Position relative IMPORTANT */
  position: relative !important;
  height: auto;
  padding-bottom: 66px;
  min-height: 100%;
  background: $le_orange;
  color: $le_gray;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 300;
}


body h2 {
  font-family: $my-font, sans-serif;
  color: $le_orange;
  font-size: 2rem;
}

@media only screen and (max-device-width:480px) {
   body h2 {
    font-size: 1rem;
}
}

// @import url(//db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa);
// @import url(https://fonts.googleapis.com/css?family=Roboto);
