<footer class="footer sticky-bottom ">
  <div class="footer-links">
    <a href="#"><i class="fab fa-tripadvisor"></i></a>
    <a href="https://www.instagram.com/lisbonexperience"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/lisbonexperience"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="user-log">
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to 'Log Out', logout_path %>
    <% else %>
      <%= link_to editor_path do %>
       <i class="fas fa-atom"></i>
      <% end %>
    <% end %>
  </div>

  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> in Lisboa
  </div>
</footer>
