<div class="edit-tour-container">
  <h3>Hello, <%= current_user.email %></h3>
  <h1 class="mb-4 text-center">Update <strong>"<%=@tour.name%>"</strong> details</h1>

    <%= render 'form', tour: @tour %>
</div>
