<section id="about-us">
  <div class="row">
      <div class="about-us text-center">
        <div class="about-elements d-flex">
          <img src="https://picsum.photos/500/400">
          <div>
            <h2>About us</h2>
            <p>Hello, my name is Miguel Cardoso! I’m an easygoing person who loves to travel and meet different cultures. I'm a real Lisboeta meaning that I live and love Lisbon very intensely. Learning is my life's leitmotiv and meeting people is by far the best way to do it. Did I mention that I'm also a foodie? Yes, I practice one of our nationals sports: sampling food and wine. So, if you like to exercise your palate you'll be in very good hands with me.</p>
              <br>

            <p> I’m the founder of the Lisbonexperience company and I was raised in Lisbon’s south bank thus I grew up looking over the big city imagining what secrets were hidden there. Lisbon’s south bank has the biggest beach of the region with fishing communities and old surfing traditions. I worked for the greater part of my life for international companies, namely Pfizer, Inc., and after the big     financial crisis I woke up unemployed and sadly without a clue on what to do next.
            One day a very good friend offered me a book about Lisbon’s history and a light (or a book) enlightened the way. Thus, since the beginning of 2013 I introduce the city to our visitors in all its   aspects helping them to improve their experience here.</p>
          </div>
        </div>
    </div>
  </div>
</section>
