<section id="about-us">
  <div class="row">
      <div class="about-us text-center">
        <div class="about-elements d-flex">
          <img src="https://picsum.photos/500/400">
          <div>
            <h2>About us</h2>
            <p>lorem ipsum Aute elit duis qui irure. Fugiat et consequat non dolor cillum incididunt dolor eu aliquip excepteur nisi nostrud dolor veniam ad nulla aliquip cupidatat est duis aliqua in minim amet in cupidatat amet aliqua in elit exercitation ea cillum amet elit dolore.lorem ipsum Aute elit duis qui irure. Fugiat et consequat non dolor cillum incididunt dolor eu aliquip excepteur nisi nostrud dolor veniam ad nulla aliquip cupidatat est duis aliqua in minim amet in cupidatat amet aliqua in elit exercitation ea cillum amet elit dolore.</p>
          </div>
        </div>
    </div>
  </div>
</section>
