<section id="about-us">

        <h2>About me</h2>
        <div class="row">
          <div class="about-us d-flex ">

            <div class="col-xs-12 col-sm-6 col-md-6 about-us-pic">
              <% cl_image_tag("https://res.cloudinary.com/cecilerxdm71vcz1e/image/upload/v1584463828/LisbonExperience/me1_zexzzp.jpg",

              width: 450, gravity: :face)

              %>

              <%= image_tag "Miguel_1.jpg", width: 350, alt: "Miguel" %>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 about-us-text">
              <p>Hi! I am <strong> <b>Miguel Cardoso </strong> </b>and I’ve been sharing my love for Lisboa with locals and travellers since 2013.
                <br>
                  Being passionate about history, Lisbon Experience walking tours are the perfect way for me to keep learning about our rich culture.
                  <br>
                  And at the same time to spend good moments with those interested in getting an insider perspective about our local features, music and food.
                  <br>
                  I offer at the moment two different walking tours and also a full service, tailor-made to meet your available time and curiosity.
                  <br>
                  <br>
                  Would love to guide you around, be my guest!
              </p>
            </div>

          </div>

        </div>


</section>





