<section id="full-service">
  <div class="row">
      <div class="col col-xs-12 col-sm-12 col-md-12 full-service border text-center">
        <h2>Full service</h2>
        <p>Lisbonexperience has a simple concept:
          <strong>to include the non-obvious in the Lisbon's  visitor experience. </strong>
            The dynamics of European capitals are intense, especially because the human and cultural inflows are permanent. The non-obvious has to arise from the incessant curiosity, the incessant search for these dynamics that discover new interests every day; but it will also be what is left untouched.
            The answers that I seek to give to my guests are in the heart of the community and therefore one has to live intensely in it. We will walk and discover the historic center, with details and curiosities about those who built this society. But we will also see and feel what is not on the tourist guides. The traveler will have a more intense experience when sharing emotions with the places visited and this experience will be better and easier if done away from the hustle and bustle of the main touristic circuit.</p>
        <img src="https://picsum.photos/800/300"  alt="picture description" >
      </div>
  </div>
</section>

