<section id="full-service">

  <div class="row">

      <div class="col col-xs-12 col-sm-12 col-md-12 full-service border text-center">
        <h2>Full service</h2>
        <p>This tailor-made experiences are designed according to your wishes, needs and budget.
          <br>
            They can be made for small or medium groups, some hours, full day or a whole weekend, in Lisboa or nearby regions (Évora, Cascais / Sintra, Tomar and others).
            <br> All details are prepared with your collaboration and a good arrangement is always possible.
        </p>
      </div>

  </div>

  <div class="customize text-center">
    <div class="taylor">
      SINGLE
    </div>
    <div class="taylor">
      SINTRA
    </div>
    <div class="taylor">
      BOAT
    </div>
  </div>

      <!-- <img src="https://picsum.photos/800/300"  alt="picture description" > -->


</section>

