<section id="full-service">

  <div class="row">

      <div class="col col-xs-6 col-sm-6 col-md-12 full-service text-center">
        <h2>Full service</h2>
        <p>This tailor-made experiences are designed according to your wishes, needs and budget.
          <br>
            They can be made for small or medium groups, some hours, full day or a whole weekend, in Lisboa or nearby regions (Évora, Cascais / Sintra, Tomar and others).
            <br> All details are prepared with your collaboration and a good arrangement is always possible.
        </p>
      </div>

  </div>

  <div class="customize text-center">
    <div class="taylor">
        <i class="fas fa-user-friends"></i>
        <p>ONE PERSON</p>
        <p>SMALL GROUPS</p>
        <p>MEDIUM GROUPS</p>
    </div>
    <div class="taylor">
        <i class="far fa-calendar-alt"></i>
        <p>HALF DAY</p>
        <p>FULL DAY</p>
        <p>WEEKEND</p>
    </div>
    <div class="taylor">
        <i class="fas fa-binoculars"></i>
        <p>CASCAIS/ SINTRA</p>
        <p>TOMAR</p>
        <p>ÉVORA</p>
    </div>

  </div>

      <!-- <img src="https://picsum.photos/800/300"  alt="picture description" > -->


</section>

