<section id="full-service">
  <div class="row">
      <div class="col col-xs-12 col-sm-12 col-md-12 full-service border text-center">
        <h2>Full service</h2>
        <p>lorem ipsum Aute elit<strong> duis qui irure</strong> . Fugiat et consequat non dolor cillum incididunt dolor eu aliquip excepteur nisi nostrud dolor veniam ad elit<strong> duis qui irure</strong> . Fugiat et consequat non dolor cillum incididunt dolor eu aliquip excepteur nisi nostrud dolor veniam ad Aute culpa esse sint dolore ut ex ullamco sit culpa aute enim cupidatat id aliqua eu anim. Lorem ipsum voluptate et tempor consectetur aute anim aliquip esse laborum exercitation adipisicing veniam culpa sint et irure nostrud laboris amet.Fugiat et consequat non dolor cillum incididunt dolor eu aliquip excepteur nisi nostrud dolor veniam ad Aute culpa esse sint dolore ut ex ullamco sit culpa aute enim cupidatat id aliqua eu anim. Lorem ipsum voluptate et tempor consectetur aute anim aliquip esse laborum exercitation adipisicing veniam culpa sint et irure nostrud laboris amet</p>
        <img src="https://picsum.photos/800/300"  alt="picture description" >
      </div>
  </div>
</section>

