<section id="walking-tours">
  <h2 class="text-center">Lisbon walking tours </h2>


      <div class="walking-tours d-flex">
        <% @tours.each do |tour| %>
          <div class="walking-tours-cards item">
            <% photo = tour.photos[0] %>
             <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill if tour.photos.attached? %>

                <h3> <%= tour.name  %> </h3>
                <p> <%= tour.description %> </p>
                 <%= link_to 'More info', tours_path(@tour, :anchor => "#{tour.name}"), class: 'btn btn-outline-secondary' %>
          </div>
        <% end %>
      </div>

</section>
