<div id="walking-tours">
  <h2> Walking tours</h2>
  <div class="row walking-tours d-flex">
      <div class="walking-tours-cards item1">
            <img src="https://picsum.photos/300" alt="picture description" >
            <h3>Tour of the day</h3>
            <p>lorem ipsum Aute elit<strong> duis qui irure</strong> . Fugiat et consequat non dolor cillum incididunt dolor eu aliquip excepteur nisi nostrud dolor veniam ad </p>
            <button type="button" class="btn btn-outline-secondary">Show more</button>
      </div>

      <div class="walking-tours-cards item2">
            <img src="https://picsum.photos/300" alt="picture description" >
            <h3>Tour of the month</h3>
            <p>lorem ipsum Aute elit<strong> duis qui irure</strong> . Fugiat et consequat non dolor cillum incididunt dolor eu aliquip excepteur nisi nostrud dolor veniam ad </p>
            <button type="button" class="btn btn-outline-secondary">Show more</button>
      </div>

      <div class="walking-tours-cards item3">
            <img src="https://picsum.photos/300" alt="picture description" >
            <h3>Tour of the year</h3>
            <p>lorem ipsum Aute elit<strong> duis qui irure</strong> . Fugiat et consequat non dolor cillum incididunt dolor eu aliquip excepteur nisi nostrud dolor veniam ad </p>
            <button type="button" class="btn btn-outline-secondary">Show more</button>
      </div>
  </div>
</div>
