#about-us h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    color: $le_orange;
    text-align: center;
  }

#about-us {
  // background-color:$le_cream;
  padding: 0px 50px 50px 50px;


}

.about-us {
  background-color:$le_cream;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.about-us-text {
  padding-right: 99px;
}

.about-us p {
    font-size: 18px;
  }


.about-us-pic {
  padding-top: 7px;
  text-align: center;
  padding-bottom: 20px;

}

.about-us img {
  -webkit-box-shadow: 3px 6px 15px -7px #353535;
  -moz-box-shadow: 3px 6px 15px -7px #353535;
  box-shadow: 3px 6px 15px -7px #353535;
  margin-bottom: 45px;

}

@media (max-device-width: 800px) and (orientation: portrait) {
 .about-us-text p {
    padding-right: 20px;
    padding-left: 55px;
 }
   .about-us img {
    margin-bottom: 46px;
    margin-top: 66px;
   }

}

@media (max-device-width: 800px) and (orientation: landscape) {
 .about-us-text  {
    padding-right: 10px;
    padding-left: 55px;
 }
   .about-us img {
    margin-bottom: 46px;
    margin-top: 66px;
   }

   #about-us h2 {
    padding: 27px 0px 15px 0px;
   }

}

@media only screen and (max-device-width:480px) {
   .about-us-pic img {
      width: 180px;
      margin-top: 15px;
      margin-bottom: 17px;
   }

  .about-us-text {
    padding-right: 0px;
  }

  .about-us-text p{
    font-size: 1em !important;
    margin-left: -30px;
  }

  #about-us h2 {
    font-size: 1.4em;
    padding-top: 32px;
    padding-bottom: 0px;
  }
}
