.about-us {
  background-color:#E9E8D9;
  padding: 80px 50px 50px 50px;

}


.about-us p {
    font-size: 15px;
    padding: 50px 130px 50px 130px;
    text-align: justify;
  }
.about-us h2 {
    padding-top: 50px;
    color: #f45f53;

  }
