#about-us h2 {
    padding: 80px 0px 65px 0px;
    color: $le_orange;
    text-align: center;
  }

#about-us {
  background-color:$le_cream;
  padding: 0px 50px 50px 50px;


}

.about-us-text {
  padding-right: 99px;

}

.about-us p {
    font-size: 20px;
  }


.about-us-pic {
  padding-top: 7px;
  padding-left: 102px;

}

.about-us img {
  -webkit-box-shadow: 3px 6px 15px -7px #353535;
  -moz-box-shadow: 3px 6px 15px -7px #353535;
  box-shadow: 3px 6px 15px -7px #353535;

}
