

#banner {
  position: relative;
  text-align: center;
  background-size: cover !important;
  padding: 90px 10px;
  color:  $le_cream;
  text-shadow: 1px 1px 5px black;

}

.carousel-inner h1 {
  font-family: $my-font;
  position: absolute;
  text-align: right;
  color: white;
  right: 209px;
  top: 174px;
  z-index: 2;
  font-size: 40px;
}

.carousel-inner h2 {
  position: absolute;
  font-family: $my-font;
  text-align: right;
  color: le_orange;
  right: 209px;
  top: 242px;
  z-index: 2;
  font-size: 30px;
}

