.footer {
  height: 66px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: $le_orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.35;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer .fa-atom {
  color: #D23333;
}

@media only screen and (max-device-width:480px) {
   .footer-copyright  {
     display: none;
   }
}
