#full-service {
   background-color:$le_cream;

}

#full-service .customize {
  display: flex;
  justify-content: space-around;
}

#full-service i {
  border: 2px $le_orange solid;
  border-radius: 50%;
  margin-bottom: 20px;
}

#full-service i.fa-calendar-alt  {
  font-size: 29px;
  padding: 22px;
}

.fa-user-friends {
  font-size: 30px;
  padding: 24px;

}

.fa-binoculars {
  font-size: 30px;
  padding: 22px;
}

.full-service p {
  font-size: 18px;
  padding: 50px 180px;
}

@media (max-device-width: 1366px) and (orientation: landscape) {
    #full-service{
    padding: 8px;
  }
  .full-service h2 {
     font-size: 2em !important;
  }

  .full-service p {
    font-size: 18px;
    padding: 38px 140px;
  }

   .customize {
    padding-bottom: 25px;
    padding-top: 5px;
  }


 }

@media (max-device-width: 768px) and (orientation: portrait) {

  #full-service{
    padding: 8px;
  }
  .full-service h2 {
     font-size: 2em !important;
  }
  .customize {
    padding-bottom: 20px;

  }

}

@media only screen and (max-device-width:480px) {

  #full-service{
    padding-top: 25px;
  }

  .full-service {
    padding: 10px 31px;
  }
   .full-service p {
     padding: 0;
     font-size: 1em !important;
   }

   .full-service h2 {
    padding-top: 0px !important;
    padding-bottom: 15px;
    font-size: 1.4em !important;
  }

  .taylor {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.8em !important;
  }

  .taylor p {
  font-size: 1em !important;
  }

  .taylor .far {
  font-size: 1em !important;
  }

  .taylor .fas {
  font-size: 1em !important;
  }

.fa-user-friends {
  padding: 22px;
  }

}

.full-service h2 {
  font-size: 1.4em;
  padding-top: 50px;
  color: $le_orange;

}

.full-service img {

  -webkit-box-shadow: 3px 6px 15px -7px #353535;
  -moz-box-shadow: 3px 6px 15px -7px #353535;
  box-shadow: 3px 6px 15px -7px #353535;
}
