.full-service {
   background-color:#E9E8D9;
   padding: 80px;
}


.full-service img {

  -webkit-box-shadow: 3px 6px 15px -7px #353535;
  -moz-box-shadow: 3px 6px 15px -7px #353535;
  box-shadow: 3px 6px 15px -7px #353535;
}

.full-service p {
    font-size: 15px;
    padding: 50px;
}

.full-service h2 {
    padding-top: 50px;
    color: #f45f53;

}
