#full-service {
   background-color:$le_cream;
   padding: 80px;
}

#full-service .taylor{
border: 1px solid $le_gray ;
padding: 10px;
}

#full-service .customize {
  display: flex;
  justify-content: space-around;
}

.full-service p {
    font-size: 20px;
    padding: 50px 180px;
}

.full-service h2 {
    padding-top: 50px;
    color: $le_orange;

}

.full-service img {

  -webkit-box-shadow: 3px 6px 15px -7px #353535;
  -moz-box-shadow: 3px 6px 15px -7px #353535;
  box-shadow: 3px 6px 15px -7px #353535;
}
