// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

/* Links */


/* 8px padding top + 8px padding bottom + 32px line-height = 48px */


li.nav-item.active a { color: $le_orange !important; }

.nav-item a {
  color: $le_cream !important;;
  font-family: $my-font;
}

.sticky-top {
  padding-left: 60px;
}

@media (max-device-width: 1024px) and (orientation: landscape) {
    .nav-item a {
      font-size: 1em;
   }

    .container-fluid img {
      padding-right: 40px;
    }

   .sticky-top {
     padding-left: 30px;
  }

  .nav-item {
     padding: 0 10px;
  }
}

@media (max-device-width: 768px) and (orientation: portrait) {

    .nav-item a {
      font-size: 0.8em;
   }

    .container-fluid img {
      padding-right: 20px;
    }

   .sticky-top {
     padding-left: 10px;
  }
}




