// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

/* Links */


/* 8px padding top + 8px padding bottom + 32px line-height = 48px */


li.nav-item.active a { color: $le_orange !important; }

.nav-item a {
  color: $le_cream !important;;
  font-family: $my-font;
}

.sticky-top img {
  padding: 5px 0px 5px 60px;
}

@media (max-device-width: 1024px) and (orientation: landscape) {
    .nav-item a {
      font-size: 1em;
   }

    .container-fluid img {
      padding-right: 40px;
    }

   .sticky-top {
     padding-left: 30px;
  }

}


@media (max-device-width: 800px) and (orientation: portrait) {
  #mynav.navbar-collapse {
    margin-right: 0px !important;
  }
  .sticky-top img {
     padding: 10px 5px;
  }

    .container-fluid img {
      padding-right: 10px;
    }

  .navbar-expand-md .navbar-nav .nav-link {
     padding-right: 0 !important;
     padding-left: 0!important;
  }

  .nav-item a {
     font-size: 0.8em;
   }

  .container-fluid img {
      padding-right: 20px;
    }

  .sticky-top {
     padding-left: 10px;
  }
}




