.form-text input[type="text"] {
  margin-left: 50px;
}

.session-form {
  display: flex;
  margin-left: 400px;
}

.log-form {
  margin-top: 100px;
  background-color: $le_cream;
}

.log-form h1 {
  margin-bottom: 30px;
}

.form-check {
  margin: 30px 20px 30px 0px;
  text-align: left;
}
.form-text {
  margin-left: 20px;
}

.form-text input {
  margin-left: 20px;
}
