.form-text input[type="text"] {
  margin-left: 50px;
}

.session-form {
  display: flex;
  margin-left: 400px;
}

.log-form {
  margin-top: 100px;
  background-color: $le_cream;
}

.log-form h1 {
  margin-bottom: 30px;
}

.form-check {
  margin: 30px 20px 30px 0px;
  text-align: left;
}
.form-text {
  margin-left: 20px;
}

.form-text input {
  margin-left: 20px;
}

@media only screen and (max-device-width:480px) {
   .session-form {
    margin-left: 15px;
   }

  .form-text {
    margin-left: 0px;
   }

  .container {
    width: auto !important;
  }

}

@media (max-device-width: 768px) and (orientation: portrait) {
     .session-form {
      margin-left: 35px;

   }
}

@media (max-device-width: 1366px) and (orientation: landscape) {
    .session-form {
      margin-left: 21px;
   }
    .container {
      justify-content: center;
    }
}
