

// ---------HOME-----------
#walking-tours h2 {
  color: $le_cream;
  padding-top: 100px;
}
.walking-tours {
  /*margin: 50px 50px 30px 50px;*/
  background: $le_orange;
  padding: 60px 0px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media only screen and (max-device-width:480px) {
   .walking-tours {
    padding: 20px 0px;
  }
  #walking-tours h2 {
    font-size: 1.4em;
    padding-top: 34px;
  }
  .walking-tours-cards {
  width: 350px !important;
  }
}


.walking-tours-cards {
  border-radius: 5px;
  background-color:$le_cream;
  width: 450px;
  -webkit-box-shadow: 3px 6px 15px -7px #353535;
  -moz-box-shadow: 3px 6px 15px -7px #353535;
  box-shadow: 3px 6px 15px -7px #353535;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.walking-tours-cards h3 {
  font-size: 26px;
  padding: 10px;
  margin-top: 31px;
  color: $le_orange;
}

.walking-tours-cards h2 {
  color: $le_gray;
}

.walking-tours-cards p {
  font-size: 15px;
  padding: 0 10px 10px 10px;
}

.walking-tours-cards button {
  margin-bottom: 20px;
}


// ---------INDEX-----------

.index-tours {
  background-color:$le_cream;
}

.editor-new {
  padding-left: 80px;
}
.walking-tours-details {
  background-color:$le_cream;
  padding: 16px 150px 30px 150px;
}



.tours-title h1 {
  color: $le_orange;
  font-family: $my-font;
  text-align: center;
  padding-top: 56px;
}


.tours-title p {
  color: $le_cream;
  text-align: right;
  font-family: europa, sans-serif;
}


.walking-tours-info  {
  font-size: 18px;
  padding: 30px 138px;
}



.walking-tours-info h3 {
  padding-bottom: 20px;
  font-size: 1.4em !important;

}

.tours-pics {
  display: flex;
  justify-content: space-evenly;
  margin: 14px 150px;;
  flex-wrap: wrap;
}

.tours-pics img {
  margin-bottom: 30px;
  -webkit-box-shadow: 3px 6px 15px -7px #353535;
  -moz-box-shadow: 3px 6px 15px -7px #353535;
  box-shadow: 3px 6px 15px -7px #353535;

}

.tours-title h1 {
  font-size: 2em !important;
}


.tours-links {
   padding: 30px 20px 30px 150px;
}

@media (max-device-width: 1200px) and (orientation: landscape) {
   .walking-tours-info {
    font-size: 18px;
    padding: 19px 75px;
   }
    .walking-tours-details {
   padding: 16px 92px 30px 92px;
  }
}

@media (max-device-width: 768px) and (orientation: portrait) {
  .walking-tours-details {
      padding: 19px 30px;
   }
   .walking-tours-info {
    font-size: 18px;
    padding: 19px 75px;
   }

   .tours-pics {
     margin-right: 55px;
     margin-left: 55px;
   }
}

@media only screen and (max-device-width:480px) {
  .walking-tours-details {
    padding: 19px 30px;
  }

  .walking-tours-cards img {
    width: 200px !important;
    height: 200px !important;
  }

  .walking-tours-info {
    font-size: 15px;
    padding: 0px 23px;
  }

   .walking-tours-info p {
    margin-bottom: 1rem;
    font-size: 1em !important;
  }
}
// ---------EDIT TOUR-----------
.edit-tour-container {
  background-color: $le_cream;
}

.edit-tour {
  background: $le_orange;

}

.form-label-style {
  color: $le_orange;
}

.edit-photo-section {
  display: flex;
  justify-content: space-between;
}

.form-photo-link {
  padding-right: 20px;
}
.editor-new  {
 text-align: center;
 padding: 30px 0px;
 font-size: 20px;
}

// ---------EDIT TOUR FORM-----------

.form-label-style {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

  .form-photo-link img {
    width: 200px;
    height:200px;
   }

@media only screen and (max-device-width:480px) {

  .form-label-style {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
  }

  .form-control {
    text-align:center;
  }
   .form-label-style p {
    font-size: 1rem;
  }

 .tours-title h1 {
    padding: 22px 5px 0px 5px;
    font-size: 2rem;
  }


   #tour_description {
      width: 300px;
   }
    #tour_full_information  {
      width: 300px;
   }

    #tour_duration {
      width: 300px;
   }
    #tour_meeting_point {
      width: 300px;
   }
   .form-photo-link img {
    width: 80px;
    height: 80px;
   }

   .edit-tour-container h1 {
    font-size: 1rem;
    margin-top: 27px;
   }

  }

// ---------NEW TOUR FORM-----------

.new-tour {
  background-color: $le_cream;
}

.new-tour h2 {
   padding-top: 68px;
   padding-bottom: 30px;

}
