

// ---------HOME-----------

.walking-tours {
  /*margin: 50px 50px 30px 50px;*/
  background: $le_orange;
  padding: 50px 80px 80px 80px;
  justify-content: space-between;
}

.walking-tours-cards {
  border-radius: 5px;
  background-color:$le_cream;
  width: 360px;
  -webkit-box-shadow: 3px 6px 15px -7px #353535;
  -moz-box-shadow: 3px 6px 15px -7px #353535;
  box-shadow: 3px 6px 15px -7px #353535;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.walking-tours-cards h3 {
  font-size: 26px;
  padding: 10px;
  margin-top: 31px;
  color: $le_orange;
}

.walking-tours-cards h2 {
  color: $le_gray;
}

.walking-tours-cards p {
  font-size: 15px;
  padding: 0 10px 10px 10px;
}

.walking-tours-cards button {
  margin-bottom: 20px;
}


// ---------INDEX-----------

.walking-tours-list {
  background-color:$le_cream;
  margin: 10px;
}

.tours-title h1 {
  color: $le_cream;
  text-align: center;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.tours-title p {
  color: $le_cream;
  text-align: right;
  font-family: europa, sans-serif;
}

// ---------EDIT TOUR-----------
.edit-tour-container {
  background-color: $le_cream;
  height: 850px;
}

.edit-tour {
  background: $le_orange;
  text-align: center;
}
